.doors {
    width: 600px;
    height: 600px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .door {
        width: 200px;
        height: 500px;
        border-radius: 10px;
        background-color: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .film {
            width: 85%;
            height: 95%;
            .handle {
                position: absolute;
                top: 50%;
                left: 10%;
                width: 71px;
                height: 15px;
            }
            .righthandle {
                position: absolute;
                top: 50%;
                right: 10%;
                width: 71px;
                height: 15px;
            }
        }
        span {
            position: absolute;
            background-color: #fff;
            bottom: -30px;
        }
    }
}